# Supabase Configuration
VITE_SUPABASE_URL=https://ydchnopxcxyibtawtjtd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkY2hub3B4Y3h5aWJ0YXd0anRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMTM0MjgsImV4cCI6MjEwNDY4OTQyOH0.2Zc1cwN3CshSrgDRnDFN0_D6pksHbdLwP6MJN1uWHRI